@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media screen and (max-width: 767px) {
    html {
      font-size: 93.75% !important;
    }
    input,
    textarea,
    select,
    .mat-select {
      font-size: 16px !important;
    }
  }
  html {
    scroll-behavior: smooth;
  }
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-4xl md:text-6xl;
  }
  h3 {
    @apply text-xl md:text-3xl;
  }
  h4 {
    @apply text md:text-2xl;
  }
  h5 {
    @apply text-md md:text-xl;
  }
  h6 {
    @apply text-sm md:text;
  }
  hr {
    @apply my-3;
    border-top: 1px solid lightgray;
  }
  div[info] {
    @apply text-md md:text text-gray-400 -mb-2;
  }
  div[progress] {
    @apply text-primary-dark md:text-xl text-center p-2 animate-pulse duration-200 uppercase tracking-wider;
  }
  div[error],
  p[error] {
    @apply text-error text-center text-shadow-error;
  }
  nav {
    @apply bg-primary-dark p-4 w-full flex flex-row items-center whitespace-nowrap;
  }
  label {
    @apply text-gray-700;
  }
  label[required]::after {
    content: ' *';
    @apply text-sm text-gray-700;
  }
  select {
    @apply py-4 px-8 rounded border border-gray-200 bg-gray-50 outline-gray-700;
  }
  input[type=text],
  input[type=date],
  input[type=email],
  input[type=password],
  textarea {
    @apply py-2 px-3 border border-gray-100 rounded-sm hover:border hover:border-gray-400 outline-gray-400 shadow focus:shadow;
  }
  input[type=radio],
  label[radio] {
    @apply cursor-pointer;
  }
  input[type=radio] {
    @apply scale-150 outline-none border-none accent-primary-dark;
  }
  .cta-button-primary {
    @apply min-w-32 cursor-pointer rounded-sm border-none bg-primary-dark px-5 py-2.5 text-center text-white shadow-lg duration-200 ease-in-out outline-gray-800 md:hover:bg-primary;
  }
  .cta-button-icon {
    @apply size-16 rounded-full cursor-pointer text-5xl border-none bg-primary-dark px-5 py-2.5 text-center text-white shadow-lg duration-200 ease-in-out outline-gray-800 md:hover:bg-primary;
  }
  button[type=submit] {
    @apply min-w-16 cursor-pointer rounded-sm border-none bg-primary-dark px-5 py-2.5 text-center text-white shadow-lg duration-200 ease-in-out outline-primary-dark md:hover:bg-primary;
  }
  button[type=reset] {
    @apply min-w-16 cursor-pointer border-none px-5 py-2.5 text-center text-error duration-200 ease-in-out hover:bg-red-50 bg-transparent rounded-sm outline-red-100;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2;
    transform: translate(-50%, -50%);
  }
  .text-shadow {
    text-shadow: 0 0 1px var(--base-color);
  }
  .text-shadow-error {
    text-shadow: 0 0 1px var(--error-color);
  }
  div[list] {
    @apply pb-2 pt-0.5;
  }
  div[listitem] {
    @apply mb-4 mt-2 block min-h-20 p-3 text-md first:mt-0 last:mb-0 bg-background-dark;
    box-shadow: 0 3px 3px -2px #0003,0 3px 4px #00000024,0 1px 8px #0000001f;
  }
}
